:root {
    --ultra-violet: #6C698D;
    --timberwolf: #D4D2D5;
    --eerie-black: #1F2421;
    --silver: #BFAFA6;
    --beaver: #AA968A;
    --dim-gray: #6E6A6F;
}

@font-face{
    font-family: comic-sans;
    src: url(../fonts/comic.ttf);
}

@font-face {
    font-family: comic-sans;
    src: url(../fonts/comicbd.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    color: #000;
}

a {
    text-decoration: none;
    color: #fff;
}

.button {
    display: inline-block;
    background-color: var(--ultra-violet);
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s ease;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.button:hover {
    background-color: var(--dim-gray);
}

header {
    background-color: var(--eerie-black);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
}

.container {
    display: block;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */
.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: comic-sans;
}

.logo span {
    color: var(--silver);
    font-family: comic-sans;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links a {
    color: #646464;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #fff;
    text-shadow: 0 0 10px var(--timberwolf);
}

.nav-links li {
    margin-right: 25px;
}

/* Website Content */
#about, #jobs, #apply, #team, #courses {
    padding: 20px 0;
}

#about, #jobs, #apply{
    background-color: #fff;
}

#team, #courses {
    background-color: var(--timberwolf);
}

/* About */
.about-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-text {
    flex: 1;
}

.about-img{
    flex: 1;
}

.about-img img {
    width: 100%;
    border-radius: 25px;
}

/* Column cards */
.card-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr; /* https://stackoverflow.com/questions/67854299/columns-side-by-side-with-css-grid */
}

.column-card {
    margin-top: 40px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.column-card:hover {
    transform: translateY(-20px);
}

.card-image img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.card-info {
    text-align: center;
}

.card-info p {
    color: var(--dim-gray);
    margin-top: 10px;
}

/* Job cards */
.job-grid {
    display: grid;
    margin-top: 40px;
    gap: 40px
}

.job-card {
    display: inline;
    background-color: var(--timberwolf);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 40px;
}

.job-card h3 {
    color: var(--ultra-violet);
}

.job-info {
    display: grid;
    margin: 25px 0px 40px 20px;
}

.job-info h4{
    margin-left: -20px;
    margin-bottom: 10px;
}

.job-info li {
    margin: 5px
}

/* Course cards */
.card-info a {
    margin: 15px;
}

/* Apply */
.apply-form {
    background-color: var(--timberwolf);
    border-radius: 20px;
    padding: 20px;
    margin-top: 15px;
    width: 100%;
}

.apply-form .button {
    font-size: 16px;
}

.form-item {
    display: grid;
    padding: 10px;
}

.form-item label {
    font-weight: bold;
    margin: 5px;
}

.form-item input, .form-item select, .form-item textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--dim-gray);
}

.form-item textarea {
    height: 150px;
}

.form-item input[type="file"] {
    border: 1px solid 000;
    margin-bottom: 10px;
    width: 100%;
}

/* Mobile Responsiveness */
@media only screen and (orientation: portrait) {
    /* Navbar */
    nav {
        display: inline;
    }

    .logo {
        display: block;
        text-align: center;
    }

    .nav-links {
        display: inline-flexbox;
        justify-content: center;
    }

    .nav-links li {
        margin-inline: 20px;
    }

    /* About */
    .about-content {
        display: block;
    }

    .about-img {
        margin-top: 10px;
    }

    /* Column Card */
    .card-grid {
        display: inline-block;
    }

    /* Apply */
    .apply-form .button {
        width: 100%;
    }
}

/* Footer */
footer {
    background-color: var(--eerie-black);
    color: #fff;
    text-align: center;
    bottom: 0;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}